body
{
background-color: lavender;
}

h1
{
color: rgb(0, 110, 255);
background-color: lightpink;
font-size: 60px;
padding: 25px;
}

#sketchidea
{
    float: center;
    font-size: 30px;
}

p
{
    font-size: 30px;
}

#clear
{
    font-size: 30px;
}

canvas
{
border: 5px solid white;
border-radius: 10px;
margin-top: 150px;
animation-name: example;
animation-duration: 3s;
animation-iteration-count: infinite;
}

@keyframes example
{
from {box-shadow: 1px 1px 80px purple;}
to {box-shadow: 1px 1px 80px blue;}
}

#score
{
float: left;
font-size: 30px;
}

#timer
{
    float: right;
font-size: 30px;
}